<p id="notice"><%= notice %></p>


<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>To user:</strong>
  <%= @message.to_user %>
</p>

<p>
  <strong>From user:</strong>
  <%= @message.from_user %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
