
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="card p-3 py-4">
                <%@user = User.where(id: params[:id]).first%>
                <div class="text-center"> <img src=<%="https://bootdey.com/img/Content/avatar/avatar"+(@user.id%7+1).to_s+".png"%> width="100" class="rounded-circle"> </div>
                <div class="text-center mt-3"> <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span>
                    <h5 class="mt-2 mb-0"><%=@user.first_name+" "+@user.last_name%></h5> <span>UI/UX Designer</span>
                    <div class="px-4 mt-1">
                        <p class="fonts"><%=(@user.bio.blank?) ? " adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.": @user.bio %><br/> </p>
                    </div>
                    <ul class="social-list">
                        <li>Member since <%=@user.created_at.strftime('%m/%d/%Y')%></li>
                        <li>Located at <%=(@user.location.blank?)? "Santa Barbara, CA" : @user.location %></li>                       
                    </ul>
                    <%= render partial: 'message_follow', locals: { follower_id: current_user.id, user_id: @user.id } if user_signed_in?%>
                </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
