
<% if user_signed_in? %>
<%= render 'form', tweet: Tweet.new %>
<br>
<h1 class="display-6"> <%= current_user.email + " Feed" %> </h1>
<br>
<% else %>
<h1 class="display-6"> Global Feed </h1>
<% end %>

<% @tweets.each do |tweet| %>
  <% @user = User.find(tweet.users_id) %>
  <div class="card">
    <div class="card-header">
      <%= @user.email%>
    </div>
    <div class="card-body">
      <p class="card-text"><%= tweet.content %></p>

      <%= link_to 'Show', tweet, class:"btn btn-outline-secondary stretched-link" %>

    </div></div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p class="card-text"><%= tweet.likes.to_s + " likes " %></p>
        </div>
        <div class="col-md-3">
          <p class="card-text"><%= tweet.comments.to_s + " comments " %></p>
        </div>
        <div class="col-md-3">
          <%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>
        </div>
    </div>
  </div>
  <br>
<% end %>
<%= will_paginate @tweets, renderer: BootstrapPagination::Rails %>

<br>
