<div class = "jumbotron">


<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @tweet.likes %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @tweet.comments %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
</div>

<% if user_signed_in? %>
<%= render partial: 'comments/form', locals: { comment: Comment.new, curr_user: current_user.id, curr_tweet: @tweet.id } %>
<% end %>

<% @comments.each do |comment| %>
  <% if comment.tweet_id == @tweet.id %>
  <div class="card">
    <div class="card-header">
      <% @user = User.find(comment.user_id) %>
      <%= @user.email %>
    </div>
    <div class="card-body">
      <p class="card-text"><%= comment.content %></p> 
      
    </div></div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">  
          <%= link_to 'Delete', @tweet, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>
        </div>
    </div>          
  </div>
  <% end %>
  <br>
<% end %>

<br>
