<div class = "jumbotron">


<p>
  <h2> <%= @tweet.content %></h2> 
  <br/> - 
  <%= User.find_by(id:@tweet.users_id).first_name %></strong> 
  <%= User.find_by(id:@tweet.users_id).last_name %></strong> 
</p>
<hr class="my-4"/>

<div class="container">
<div class="row">

<div class="col-md-3">
  <%= @tweet.likes %> Likes
</div>

<div class="col-md-3">
  <%= @tweet.comments %> Comments
</div>

<div class="col-md-3">
<%= link_to 'Edit', edit_tweet_path(@tweet) %> | 
<%= link_to 'Delete',@tweet,  method: :delete , data: { confirm: 'Are you sure?' } if current_user.id==@tweet.users_id%>
</div>

</div>
</div>

<br/>
<% if user_signed_in? %>
<%= render partial: 'comments/form', locals: { comment: Comment.new, curr_user: current_user.id, curr_tweet: @tweet.id }%>
<% end %>
</div>


<% @comments.each do |comment| %>
  <% if comment.tweet_id == @tweet.id %>
  <div class="card">
    <div class="card-header">
      <% @user = User.find(comment.user_id) %>
      <%= @user.first_name %> at 
      <%= comment.updated_at.strftime('%m/%d/%Y %H:%Mhrs') %>
    </div>
    <div class="card-body">
      <p class="card-text"><%= comment.content %></p> 
      

      <div class="container">
            <div class="row">
              <div class="col-md-3">  
                <%= link_to 'Edit', edit_comment_path(comment), class:"btn btn-outline-primary" %>
                <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>
              </div>
          </div>          
        </div>

    </div></div>
    
  <br>
  <% end %>
<% end %>

<br>
