<%= form_with(model: like) do |form| %>
  <% if like.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(like.errors.count, "error") %> prohibited this like from being saved:</h2>

      <ul>
        <% like.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% form.label :user_id %>
    <%if @like.nil?%>
      <%= form.number_field :user_id, value: curr_user, type: :hidden %>
    <%else%>
      <%= form.number_field :user_id, value: @like.user_id, type: :hidden %>
    <%end%>
  </div>

  <div class="field">
    <% form.label :tweet_id %>
    <%if @like.nil?%>
      <%= form.number_field :tweet_id, value: curr_tweet, type: :hidden %>
    <%else%>
      <%= form.number_field :tweet_id, value: @like.tweet_id, type: :hidden %>
    <%end%>  
    </div>

  <div class="actions">
    <%= form.submit class:'btn btn-outline-primary' %>
  </div>
<% end %>
