<%= form_with(model: follower) do |form| %>
  <% if follower.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(follower.errors.count, "error") %> prohibited this follower from being saved:</h2>

      <ul>
        <% follower.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%if @follower.nil?%>
    <%= form.number_field :user_id, value: user_id, type: :hidden %>
    <%else%>
    <%= form.number_field :user_id, value: @follower.user_id, type: :hidden %>
    <%end%>
  </div>

  <div class="field">
    <%if @follower.nil?%>
    <%= form.number_field :follower_id, value: follower_id, type: :hidden %>
    <%else%>
    <%= form.number_field :follower_id, value: @follower.follower_id, type: :hidden %>
    <%end%>
  </div>

  <div class="actions">
    <%= form.submit "Follow", class: "btn btn-outline-primary" %>
  </div>
<% end %>
