<p id="notice"><%= notice %></p>

<p>
  <strong>Users:</strong>
  <%= @follower.users_id %>
</p>

<p>
  <strong>Follower:</strong>
  <%= @follower.follower_id %>
</p>

<%= link_to 'Edit', edit_follower_path(@follower) %> |
<%= link_to 'Back', followers_path %>
